#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photograph-header .container-text {
  flex: 1 1 0;
}

.photograph-header h1 {
  font-size: 64px;
  order: 1;
  margin: 0;
  color: #d3573c;
}

.photograph-header .location {
  color: #901c1c;
  font-size: 24px;
  margin: 0;
}

.photograph-header .description {
  color: #525252;
  font-size: 18px;
}

.photograph-header .container-contact_button {
  order: 2;
  flex: 1 1 0;
  text-align: center;
}

.photograph-header .container-img {
  order: 3;
  flex: 1 1 0;
  text-align: end;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 999px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* filter */

.photograph-media {
  margin: 0 100px;
}

.photograph-media .filter {
  margin-top: 20px;
}

.photograph-media .filter .dropdown {
  margin: 0;
  padding: 0;
}

.photograph-media .filter .dropdown-item {
  width: 170px;
  height: 51px;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  cursor: pointer;
  list-style: none;
}

.photograph-media .filter .dropdown-item i {
  margin-left: 26px;
}

.photograph-media .filter .dropdown .selected {
  border-radius: 5px;
}

.item-2 {
  border-radius: 0;
  transform: translateY(-90px);
  visibility: hidden;
}

.item-3 {
  border-radius: 0 0 5px 5px;
  transform: translateY(-90px);
  visibility: hidden;
}

.show-dropdown {
  transform: translateY(0);
  visibility: visible;
}

.selected-bradius {
  border-radius: 5px 5px 0 0 !important;
}
