#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photograph-header .container-text {
  flex: 1 1 0;
}

.photograph-header h1 {
  font-size: 64px;
  order: 1;
  margin: 0;
  color: #d3573c;
}

.photograph-header .location {
  color: #901c1c;
  font-size: 24px;
  margin: 0;
}

.photograph-header .description {
  color: #525252;
  font-size: 18px;
}

.photograph-header .container-contact_button {
  order: 2;
  flex: 1 1 0;
  text-align: center;
}

.photograph-header .container-img {
  order: 3;
  flex: 1 1 0;
  text-align: end;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 999px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* filter */

.photograph-media {
  margin: 0 100px;
}

.photograph-media .filter {
  margin-top: 20px;
}

.photograph-media .filter .dropdown {
  margin: 0;
  padding: 0;
}

.photograph-media .filter .dropdown-item {
  width: 170px;
  height: 51px;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  cursor: pointer;
  list-style: none;
}

.photograph-media .filter .dropdown-item i {
  margin-left: 26px;
}

.photograph-media .filter .dropdown .selected {
  border-radius: 5px;
}

.item-2 {
  border-radius: 0;
  transform: translateY(-90px);
  visibility: hidden;
}

.item-3 {
  border-radius: 0 0 5px 5px;
  transform: translateY(-90px);
  visibility: hidden;
}

.show-dropdown {
  transform: translateY(0);
  visibility: visible;
}

.selected-bradius {
  border-radius: 5px 5px 0 0 !important;
}

/* gallery photo  */

.photograph-media {
  margin: 0 100px;
}

.photograph-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12.5%;
}

.photograph-gallery article {
  width: 25%;
  margin-bottom: 30px;
}

.photograph-gallery img,
video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 500ms;
  will-change: transform;
}

.description-img {
  display: flex;
  align-items: center;
  color: #901c1c;
  font-size: 24px;
  height: 50px;
}

.photograph-gallery img:hover,
video:hover {
  transform: scale(1.1);
}

.description-img span {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.description-img > p {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter-like {
  display: inline-block;
  margin-right: 10px;
}

.description-img .fa-heart {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.description-img .fa-heart:hover {
  transform: scale(1.25);
  color: #d3573c;
}

.price-and-like {
  height: 70px;
  width: 342px;
  border-radius: 5px 5px 0 0;
  background: #db8876;
  position: sticky;
  bottom: 0;
  left: 75%;

  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
}

.lightbox-photo {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background: white;
  display: none;
}

.lightbox-photo .fa-solid {
  color: #901c1c;
  position: absolute;
  transition: all 500ms;
  cursor: pointer;
}

.lightbox-photo .fa-xmark {
  top: 50px;
  right: 50px;
}

.lightbox-photo .fa-chevron-left {
  top: 50%;
  left: 50px;
}

.lightbox-photo .fa-chevron-right {
  top: 50%;
  right: 50px;
}

.lightbox-photo .fa-solid:hover {
  transform: scale(1.2);
  color: #d3573c;
}

.lightbox-photo img,
.lightbox-photo video {
  position: absolute;
  width: 75%;
  height: 85%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-photo .description-img span {
  display: none;
}

.lightbox-photo p {
  position: absolute;
  bottom: 0;
  left: 12.5%;
  width: 50%;
  font-size: 24px;
  color: #901c1c;
}

.disable-click {
  color: #c4c4c4 !important;
  pointer-events: none;
}

.disable-click:hover {
  transform: scale(1) !important;
}

.stop-scrolling {
  overflow-y: hidden;
}
