@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 200px;
  border-radius: 999px;
  z-index: 999;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 0;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 999px;
  object-fit: cover;
  z-index: 1;
}

.photographer_section article p {
  font-size: 15px;
  margin: 0;
  line-height: 20px;
}

.photographer_section article p:nth-child(2) {
  font-size: 18px;
  color: #901c1c;
}

.photographer_section article p:nth-child(4) {
  font-size: 14px;
  color: #757575;
}
